*{
    margin:0;
    padding: 0%;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image:url("istockphoto-1339264709-170667a.jpg") ;
}
    

    


