*{
    margin: 0;
    padding: 0%;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: aqua;
    height: 100vh;
}
.button {
display: inline-block;
text-align: center;
text-decoration: none;
padding: 15px 32px;
font-size: 16px;
width: 500px;

}