*{

    box-sizing: border-box;
    margin: 0;
    padding: 0%;
    
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: blue;

}
.input {
width: 20px;
}
.button {
font-size: 20px;
padding: 10px;
display: inline-block;
text-align: center;
border-radius: 2px;
padding: 15px 32;
width: 250px;
}